<h1>Viewing Party Details</h1>

<%= form_with model: @party, url: parties_path, local: true do |f| %>
  <span>Movie Title:</span>
  <%= @movie[:title] %><br>

  <%= f.label :duration %>
  <%= f.number_field :duration, value: @movie[:runtime] %><br>

  <%= f.label :party_date %>
  <%= f.date_select :party_date, min: Date.today, include_blank: true, defaul: nil, start_year: Date.current.year, order: [:day, :month, :year] %><br>

  <%= f.label :start_time %>
  <%= f.text_field :start_time, placeholder: 'Ex: 5:00 pm' %><br>

  <%= f.hidden_field :movie_id, value: @movie[:id] %>
  <%= f.hidden_field :movie_title, value: @movie[:title] %>

  <%= f.submit 'Create Party' %>
<% end %>
