<% if @movie.release_date.nil? %>
  <div id="title"><h1><%= @movie.title %></h1></div>
<% else %>
  <div id="title"><h1><%= @movie.title %><span class="unbold"> (<%= @movie.release_year(@movie.release_date) %>)</span></h1></div>
<% end %>  
  <div id="user-score"><p>User Score: <%= @movie.vote_average %></p></div>
  <div id="genres"><p>Genre(s): <%= @movie.display_genres(@movie.genres).join(', ') %></p></div>
  <div id="runtime"><p>Runtime: <%= @movie.total_runtime(@movie.runtime) %></p></div>

<h4>Overview:</h4>
  <div id="overview">
    <p><%= @movie.overview %></p>
  </div>

<h4>Cast</h4>
<section id="cast">
  <ol>
    <% @movie.cast.each do |cast| %>
      <li>
        <%= cast.name %> as <%= cast.character %>
      </li>
    <% end %>
  </ol>
</section>

<h4>Reviews</h4>
<section id="reviews">
  <p>Number of Reviews: <%= @movie.reviews.count %></p>
  <ol>
    <% @movie.reviews.each do |review| %>
      <li>
        <p><%= review.author %></p>
        <p><%= review.url %></p>
        <p><%= review.content %></p>
      </li>
    <% end %>
  </ol>
</section>

<h4>Recommendations</h4>
<section id="recommendations">
  <p>Recommended Movies: <% @movie.recommendations.each do |recommendation| %>
    <%= recommendation.title %>
  <% end %>
</section>

<%= button_to 'Create Viewing Party', "/parties/new", method: :get, params: { movie_id: @movie.id } %>
