<h1>Register</h1>

<%= form_with model: @user, local: true do |f| %>

  <%= f.label :email  %>
  <%= f.text_field :email  %>

  <%= f.label :password  %>
  <%= f.text_field :password, value: nil  %>

  <%= f.label :password_confirmation  %>
  <%= f.text_field :password_confirmation, value: nil %>

  <%= f.submit 'Create User' %>
<% end %>
