<% if current_user %>
  <%= link_to "Go to dashboard", dashboard_path %>
<% end %>

<a href="/"><%= image_tag "logo.png", alt: "logo", id: "welcome-logo" %></a>
<h1>Welcome to Viewing Party!</h1>

<h2>Explore movies and create viewing parties to watch flix with your friends</h2>

<section class="login">
  <% if !current_user %>
    <h2>Log in:</h2>
    <%= form_tag login_path do %>
      <%= label_tag :email %>
      <%= email_field_tag :email %><br>

      <%= label_tag :password %>
      <%= password_field_tag :password %><br>

      <%= submit_tag 'Log In' %>
    <% end %>
  
    <%= link_to 'New to Viewing Party? Register Here', registration_path %>
  <% end %>
</section>